* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url(bg12.jpg);
    background-position: unset;
    /*background: rgba(189, 224, 125, 0.781);*/
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    font-size: 22px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: blue;
    cursor: pointer;
}

.logo::first-letter {
    font-size: 40px;
    border: 2px solid blue;
    border-right: transparent;
    padding-left: 5px;
    color: red;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
}

nav ul li a{
    color: black;
    position: relative;
    padding: 5px 0;
    font-weight: bold;
}
 
nav ul li a:hover {
    color: red;
}

nav ul li a::after {
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    position: absolute;
    height: 3px;
    background: red;
    transition: .7s;
}

nav ul li a:hover::after {
    width: 100%;
}

.btn {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    background: red;
    padding: 10px 30px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .5s ease-in-out;
    border: 2px solid red;
}

.btn:hover {
    background: transparent;
    color: red;
    font-size: 20px;
}

.detail {
    position: absolute;
    top: 35%;
    left: 8%;
}

.detail h1 {
    color: black;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
}

.detail h1 span {
    color: red;
}

.detail p {
    color: black;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.img img {
    display: block;
    width: 100%;
    height: auto;
}

.img {
    width: 30%;
    height: 83%;
    position: absolute;
    bottom: 0;
    right: 170px;
}

